@charset "utf-8";
@import "set";


//	01_全体
//	02_スマホ調整系
//	03_フォント
//	04_ボックス
//	05_リスト
//	06_テーブル
//	07_タイトル
//	08_アコーディオン
//	09_細部調整用


////////////////////////////////////////////////////////////////
//
// 　01_全体
//
////////////////////////////////////////////////////////////////

body{
	@extend .fz-default;
	@extend .lh-default;
	font-feature-settings: "palt";
}
a{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
	&.txt_black{
		color: #333;
	}
}
.web_font_num{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}


////////////////////////////////////////////////////////////////
//
// 　02_スマホ調整系
//
////////////////////////////////////////////////////////////////


//////////////
//SPの画像
//////////////
.img_respon{
	width: 100%;
	height: auto;
}
@media screen and(max-width:$break_sp) {
	.img_respon{
		width: 100%;
		height: auto;
	}
}

//////////////
//横幅100%
//////////////
@media screen and(max-width:$break_sp) {
	.sp_w100{
		width: 100% !important;
	}
}

//////////////
//はみ出しエリアスクロール
//////////////

@media screen and(max-width:$break_sp) {
	.box_style_sp_scroll{
		overflow-x: scroll;
		.img{
			img{
			max-width: 150vw;
			height: auto;
			}
		}
		.table_scroll{
			width: 800px;
		}
		.table_scroll_img{
			img{
				width: 700px;
				height: auto;
			}
			&.mini{
				img{
				width: 500px;
				}
			}
		}
	}
}


////////////////////////////////////////////////////////////////
//
// 　03_フォント
//
////////////////////////////////////////////////////////////////

//////////////
//フォントサイズ
//////////////

.fz-default{
	font-size: $fz-default;
}
.fz-14{
	font-size: $fz-14;
}
.fz-15{
	font-size: $fz-15;
}
.fz-18{
	font-size: $fz-18;
}
.fz-20{
	font-size: $fz-20;
}
.fz-22{
	font-size: $fz-22;
}
.fz-24{
	font-size: $fz-24;
}
.fz-34{
	font-size: $fz-34;
}
.fz-36{
	font-size: $fz-36;
}
@media screen and(max-width:$break_sp) {
	.fz-default{
		font-size: $fz-default-sp;
	}
	.fz-14{
		font-size: $fz-14-sp;
	}
	.fz-15{
		font-size: $fz-15-sp;
	}
	.fz-18{
		font-size: $fz-18-sp;
	}
	.fz-20{
		font-size: $fz-20-sp;
	}
	.fz-22{
		font-size:$fz-22-sp;
	}
	.fz-24{
		font-size:$fz-24-sp;
	}
	.fz-34{
		font-size:$fz-34-sp;
	}
	.fz-36{
		font-size:$fz-36-sp;
	}
}

//////////////
//line-heigth
//////////////

.lh-default{
	line-height: $lh-default;
}
.lh-15{
	line-height: $lh-15;
}
.lh-16{
	line-height: $lh-16;
}
.lh-20{
	line-height: $lh-20;
}
.ls-01{
	letter-spacing: $ls-01;
}
.ls-02{
	letter-spacing: $ls-02;
}
.ls-0{
	letter-spacing: $ls-0;
}


//////////////
//レイアウト
//////////////
.bold{
	font-weight: bold;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
@media screen and(max-width:$break_sp) {
	.center{
		&.sp_left{
			text-align: left ;
		}
	}
}
//////////////
//フォント色
//////////////

.txt_color_main{
	color: $color_main;
}
.txt_color_sub1{
	color: $color_sub;
}
.txt_color_sub2{
	color: $color_sub2;
}
.txt_color_sub3{
	color: $color_sub3;
}
.txt_color_sub4{
	color: $color_sub4;
}
.txt_color_bace{
	color: $color_bace;
}
.txt_color_att{
	color: $color_att;
}
.txt_color_att2{
	color: $color_att2;
}
.txt_color_blue1{
	color: #2861a0;
}
.txt_color_white{
	color:#fff;
}
.txt_color_orenge{
	color:#e87e00;
}
//////////////
//フォント_ボーダー
//////////////

.txt_border{
	text-decoration: underline;
}

//////////////
//フォント_デザイン
//////////////

.bg_yw{
	position: relative;
	z-index: 1;
	background: linear-gradient(0deg, rgba(255,255,0,1) 0%, rgba(255,255,0,1) 35%, transparent 35%, transparent 100%);
}

////////////////////////////////////////////////////////////////
//
// 　04_ボックス
//
////////////////////////////////////////////////////////////////


//////////////
//boxパディング
//////////////
.area_pd{
	padding: 100px 0 130px;
}
@media screen and(max-width:$break_sp) {
	.area_pd{
		padding: 50px 0 75px;
	}
}
.pd10{
	padding: 10px;
}

//////////////
//flex
//////////////
.box_flex{
	display: flex;
	flex-wrap: wrap;
	&.sp_only{
		display: block;
	}
	&.jc_c{
		justify-content: center;
	}
	&.jc_sb{
		justify-content: space-between;
	}
	&.jc_e{
		justify-content: flex-end;
	}
	&.ai_c{
		align-items: center;
	}
	&.ai_e{
		align-items: flex-end;
	}

}
@media screen and(max-width:$break_sp) {
	.box_flex{
		&.pc_only{
			display: block;
		}
		&.sp_only{
			display: flex;
		}
		
	}
	
}

//////////////
//背景色
//////////////
.bg_color_main{
	background: color_bg();
}
.bg_color_sub{
	background: color_bg_sub();
}
.bg_color_gray{
	background: color_bg_gray();
}
.bg_color_white{
	background: color_bg_gray();
}



//////////////
//box背景色+パディングスタイル
//////////////
.bg_box_style{
	padding: 30px 30px;
	background: color_bg();
	&.no_color{
		background:none;
	}
	&.gray{
		background: color_bg_gray();
	}
	&.white{
		background: #fff;
	}
	&.border{
		border: 3px solid color_bg_gray();
	}
	&.mini_pd{
		padding: 20px 30px;
	}
}
@media screen and(max-width:$break_sp) {
	.bg_box_style{
		padding: 15px 15px;
		&.mini_pd{
		padding: 15px 15px;
		}
	}
}

//////////////
//boxボーダースタイル
//////////////
.border_box_style{
	border: 1px solid color_bg_gray();
	
	&.border_red{
		border-color:$color_att2;
	}
	&.border_sub3{
		border-color: $color_sub3;
		
	}
	&.border_sub4{
		border-color: $color_sub4;
	}
	&.border_w6{
		border-width: 6px;
	}
	
	
}



////////////////////////////////////////////////////////////////
//
// 　05_リスト
//
////////////////////////////////////////////////////////////////


//////////////
//番号
//////////////

.list_style_num{
	counter-reset: circle 0;
	>li{
		position: relative;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			display: block;
			counter-increment: circle 1;
			position: absolute;
			left: 0;
			top: 0;
			@extend .web_font_num;
		}

	}
	&.num_2{
		counter-reset: circle 1;
	}
	&.num_3{
		counter-reset: circle 2;
	}
	&.num_4{
		counter-reset: circle 3;
	}
	&.num_5{
		counter-reset: circle 4;
	}
	&.bracket{
		>li{
			padding-left: 35px;
			&:before{
				content: "(" counter(circle) ")";
			}
		}
	}
	&.period{
		>li{
			padding-left: 25px;
			&:before{
				content: counter(circle) ".";
			}
		}
	}
	&.rice{
		>li{
			margin-bottom: 10px;
			padding-left: 35px;
			&:last-child{
				margin-bottom: 0;
			}

			&:before{
				content: "※" counter(circle);
			}
		}
		
	}
	&.circl{
		>li{
			padding-left: 50px;
			&:before{
				content: counter(circle);
				@extend .fz-18;
				@extend .web_font_num;
				color: #fff;
				width: 30px;
				height: 30px;
				flex-shrink: 0;
				display: block;
				background:$color_bace;
				border-radius: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	&.color{
		>li{
		&:before{
			color: $color_bace;
		}
		}
	}
	&.color_main{
		>li{
		&:before{
			color: $color_main;
		}
		}
	}
}
@media screen and(max-width:$break_sp) {
	.list_style_num{
		&.bracket{
			>li{
				padding-left: 25px;
			}
		}
		&.rice{
			>li{
				padding-left: 30px;
			}
		}
	}
}

//////////////
//※印
//////////////

.list_style_rice{
	>li{
		position: relative;
		padding-left: 25px;
		margin-bottom: 5px;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			display: block;
			content: "※";
			position: absolute;
			left: 0;
			top: 0;
		}

	}
	&.type2{
		>li{
			&:before{
		content: "＊";
				}
		}
			
	}
	&.color{
		>li{
			&:before{
				color: $color_main;
			}
		}
		
	}
	&.pdminus{
		>li{
			padding-left: 15px;
		}
	}
}
@media screen and(max-width:$break_sp) {
	.list_style_rice{
		>li{
			padding-left: 18px;
		}
}
}

.dd_style_rice{
	position: relative;
	padding-left: 14px;
	margin-bottom: 5px;
	&:last-child{
		margin-bottom: 0;
	}
	&:before{
		display: block;
		content: "※";
		position: absolute;
		left: 0;
		top: 0;
	}
	&.type2{
		&:before{
			content: "＊";
		}
			
	}
	&.color{
		&:before{
			color: $color_main;
		}
	}
}
@media screen and(max-width:$break_sp) {
	.dd_style_rice{
		>li{
			padding-left: 18px;
		}
	}
}

//////////////
//丸やドット
//////////////

.list_style_dot{
	>li{
		position: relative;

		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			display: block;
			content: '';
			width: 10px;
			height: 10px;
			background: #000;
			position: absolute;
			top: 9px;
			left: 0;
			border-radius: 100px;
		}

	}
	&.big{
		>li{
		padding-left: 30px;
		margin-bottom: 35px;
		&:last-child{
				margin-bottom: 0;
		}
			&:before{
				
			}

		}
	}
	&.middle{
		>li{
		padding-left: 15px;
		@extend .mb15;
		&:before{
			width: 6px;
			height: 6px;
			top: 9px;
			}
		}
	}
	
	&.small{
		>li{
			padding-left: 10px;
			//margin-bottom: 10px;
			&:before{
				width: 4px;
				height: 4px;
				background: #000;
				top: 10px;
				border-radius: 100px;
			}

		}
	}

	&.radius_c{
		li:before{
			border-radius: 100%;
		}
	}

	&.w_circle{
		>li{
			padding-left: 16px;
			margin-left: -4px;
			//margin-bottom: 10px;
			&:before{
				width: 12px;
				height: 12px;
				background: none;
				border: 1px solid #000;
				top: 8px;
				border-radius: 100px;
			}

		}
	}
	&.color{
		>li{
			&:before{
				background: $color_bace;
			}
		}
	}
	&.color_main{
		>li{
			&:before{
				background: $color_main2;
			}
		}
	}
}
@media screen and(max-width:$break_sp) {
	.list_style_dot{
		>li{
			&:before{
				width: 10px;
				height: 10px;
				top: 8px;
			}
		}
		&.big{
			>li{
			padding-left: 20px;
			margin-bottom: 25px;
			}
		}
		&.small{
			>li{
				padding-left: 10px;
				&:before{
					width: 4px;
					height: 4px;
					top: 10px;
				}

			}
		}
		&.w_circle{
			>li{
				padding-left: 16px;
				margin-left: -4px;
				&:before{
					width: 8px;
					height: 8px;
					top: 6px;
				}

			}
		}
	}
}

//////////////
//四角
//////////////
.list_style_square{
		>li{
		position: relative;
		padding-left: 20px;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			display: block;
			content: '';
			position: absolute;
			top: 7px;
			left: 0;
			width:13px;
			height: 13px;
			background: $color_main;
			
		}

	}
}

@media screen and(max-width:$break_sp) {
	.list_style_square{
		>li{
		padding-left: 26px;
		&:before{
			top: 5px;
			width:15px;
			height: 15px;

		}

	}
}
}

//////////////
//三角
//////////////

.list_style_triangle{
		>li{
		position: relative;
		padding-left: 30px;
		margin-bottom: 35px;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			display: block;
			content: '';
			position: absolute;
			top: 5px;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 0 10px 17px;
			border-color: transparent transparent transparent $color_main;

			
		}

	}
}
@media screen and(max-width:$break_sp) {
	.list_style_triangle{
			>li{
			padding-left: 20px;
			margin-bottom: 35px;
			&:before{
				top: 4px;
				border-width: 8px 0 8px 14px;
				border-color: transparent transparent transparent $color_main;
			}

		}
}

}


//////////////
//アルファベット
//////////////
.list_style_alphabet{
	counter-reset: num 0;
	>li{
		position: relative;
		padding-left: 25px;
		margin-bottom: 5px;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			display: block;
			counter-increment: num 1;
			content: counter(num, lower-alpha);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&.alphabet_b{
		counter-reset: num 1;
	}
	&.alphabet_c{
		counter-reset: num 2;
	}
	
	&.color{
		>li{
			&:before{
				color: $color_main;
			}
		}
		
	}
}
@media screen and(max-width:$break_sp) {
	.list_style_alphabet{
		>li{
			padding-left: 20px;
		}
	}
}


////////////////////////////////////////////////////////////////
//
// 　06_テーブル
//
////////////////////////////////////////////////////////////////


//////////////
//２カラムでタイトル背景色あり_トップにttlあり
//////////////

.table_style01{
	width: 100%;
	border: 2px solid #000;
	box-sizing: border-box;
	
	>li{
		border-bottom: 1px solid #000;
		&:last-child{
			border-bottom: none;
		}
		&.ttl{
			background: $color_main;
			color: #fff;
			font-weight: bold;
			border-bottom: none;
			text-align: center;
			>dl{
				>dt,>dd{
					padding: 3px 0;
				}
				>dt{
					justify-content: center;
				}
			}
		}
		&:not(.ttl){
			>dl{
				dd{
					background: #fff;
				}
			}
		}
		.sp_ttl{
			display: none;
		}
		>dl{
			display: flex;
			flex-wrap: wrap;
			>dt,>dd{
				padding: 10px 20px;
			}
			>dt{
				border-right: 2px solid #000;
				display: flex;
				align-items: center;
				width: 32%;
				background: color_bg();
				box-sizing: border-box;
			}
			>dd{
				width: 68%;
				box-sizing: border-box;
				
				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

@media screen and(max-width:$break_sp) {
	.table_style01{
	>li{
		border-bottom: 2px solid #000;
		&.ttl{
			display: none;
		}
		.sp_ttl{
			display: inline-flex;
			display: block;
			background: $color_main;
			text-align: center;
			color: #fff;
			margin-bottom: 5px;
		}
		>dl{
			display: block;
			width: 100% !important;
			>dt,>dd{
				padding: 10px 15px;
				display: block;
			}
			>dt{
				border-right: none;
				width:100%;
				br{
					display: none;
				}
			}
			>dd{
				width:100%;
				box-sizing: border-box;
			}
		}
	}
}
	
}

//////////////
//２カラムでタイトル背景色あり
//////////////
.table_style02{
	border: 2px solid #000;
	@extend .ls-0;
	>li{
		border-bottom: 1px solid #000;
		&:last-child{
			border-bottom: none;
		}
		>dl{
			display: flex;
			
			>dt{
				width: 35%;
				box-sizing: border-box;
				padding: 20px;
				display: flex;
				align-items: center;
				&.bg_color_main{
					background: color_bg();
				}
			}
			>dd{
				width: 65%;
				box-sizing: border-box;
				padding: 20px;
				display: flex;
				align-items: center;
				
			}
		}
	}
	
	
}
@media screen and(max-width:$break_sp) {
	.table_style02{
		>li{
			>dl{
				display: block;

				>dt{
					width: 100%;
					padding: 15px;
				}
				>dd{
					width: 100%;
					padding: 15px;

				}
			}
		}


	}
}

//////////////
//シンプルなトグルカラーテーブル
//////////////

.table_style03{
	border: 2px solid #000;
	box-sizing: border-box;
	>li{
		border-bottom: 1px solid #000;
		&:nth-child(odd){
			background: color_bace();
		}
		&:nth-child(even){
			background: #fff;
		}
		&:last-child{
			border-bottom: none;
		}
		>dl{
			display: flex;
			
			>dt{
				border-right: 1px solid #000;
				width: 35%;
				box-sizing: border-box;
				padding: 10px;
				display: flex;
				align-items: center;
			}
			>dd{
				width: 65%;
				box-sizing: border-box;
				padding: 10px;
				display: flex;
				align-items: center;
				
			}
		}
	}
}
@media screen and(max-width:$break_sp) {
	.table_style03{
		>li{
			>dl{
				display: block;

				>dt{
					width: 100%;
					padding: 5px 10px;
					border-right: none;
					border-bottom: 1px solid #000;
				}
				>dd{
					width: 100%;
					padding: 15px 10px;

				}
			}
		}


	}
}


//////////////
//２カラムでタイトル背景色あり_左ににttlあり
//////////////
.table_style04{
	border: 2px solid #000;
	@extend .ls-0;
	background:#fff;
	>li,>li >ul >li{
		border-bottom: 1px solid #000;
		position: relative;
		&:last-child{
			border-bottom: none;
		}
		.ttl{
			position: absolute;
			width: 5%;
			height: 100%;
			color: #fff;
			 -ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
			font-weight: bold;
			letter-spacing: 0.1em;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 30;
		}
		&.color1{
			.ttl{
				background: $color_main;
			}
			>dl{
				>dt{
					background: color_bg(0.3);
					color: $color_main;
				}
			}
		}
		&.color2{
			.ttl{
				background: $color_sub;
			}
			>dl,>ul >li >dl {
				>dt{
					background: color_bg_sub();
					color: $color_sub;
				}
			}
		}
		>dl{
			display: flex;
			position: relative;
			z-index: 10;
			>dt{
				width: 40%;
				box-sizing: border-box;
				padding: 10px 20px 10px calc(30px + 5%);
				display: flex;
				align-items: center;
			}
			>dd{
				width: 60%;
				box-sizing: border-box;
				padding: 10px 20px;
				display: flex;
				align-items: center;
				background: #fff;
				
			}
		}
	}
	
}
@media screen and(max-width:$break_sp) {
	.table_style04{
	>li,>li >ul >li{
		border-bottom: 1px solid #000;
		.ttl{
			position: relative;
			width: 100%;
			height: 30px;
			 -ms-writing-mode: horizontal-tb;
			writing-mode: horizontal-tb;
			letter-spacing: 0.1em;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		>dl{
			display: block;
			>dt{
				width: 100%;
				padding: 10px 15px;
				display: flex;
			}
			>dd{
				width: 100%;
				padding: 10px 15px;
				display: flex;
				
			}
		}
	}
	
}
}




////////////////////////////////////////////////////////////////
//
// 　07_タイトル
//
////////////////////////////////////////////////////////////////


//////////////
//大タイトル
//////////////

.ttl_style_main{
	@extend .fz-34;
	@extend .ls-02;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
	line-height: 1.4;
}

@media screen and(max-width:$break_sp) {
	.ttl_style_main{
		margin-bottom: calc(40px * #{$sp_rate});
		letter-spacing: 0.15em;
	}
}

//////////////
//中タイトル（下線）
//////////////

.ttl_style_sub{
	color: $color_main;
	@extend .fz-22;
	@extend .ls-01;
	font-weight: bold;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 30px;
	&:before{
		display: block;
		content: '';
		width: 100%;
		height: 1px;
		background: $color_main;
		position: absolute;
		bottom:0;
		left: 0;
	}
	&:after{
		display: block;
		content: '';
		width: 20%;
		height: 3px;
		background: $color_main;
		position: absolute;
		bottom:0;
		left: 0;
	}
}

//////////////
//丸番号なしタイトル
//////////////

.ttl_style_circl{
	@extend .fz-18;
	//display: flex;
	align-items: center;
	font-weight: bold;
	position: relative;
	padding-left: 20px;
	&:before{
		display: block;
		content: '';
		width: 15px;
		height: 15px;
		background:$color_bace;
		position: absolute;
		top: 8px;
		left:0;
		//transform: translate3d(0,-50%,0);
		border-radius: 100px;

	}
	&.small{
		&:before{
		width: 10px;
		height: 10px;
		top: 9px;
		}
	}
	&.color{
		&:before{
			background:$color_main;
		}
	}

}


//////////////
//丸番号ありタイトル
//////////////

.ttl_style_circlnum{
	@extend .fz-18;
	display: flex;
	//align-items: center;
	font-weight: bold;
	.web_font_num{
		color: #fff;
		position: relative;
		z-index: 20;
		width: 30px;
		height: 30px;
		flex-shrink: 0;
		display: block;
		background:$color_bace;
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
	}
	&.big{
		@extend .fz-22;
		.web_font_num{
			width: 40px;
			height: 40px;
			margin-right: 20px;
		}
	}
	&.bg{
		padding: 5px 8px;
		display: inline-flex;
		background:color_bg_gray(146);
		margin-bottom: 10px;
	}
}
@media screen and(max-width:$break_sp) {
	.ttl_style_circlnum{
		margin-bottom: 20px;
		.web_font_num{
			width: 26px;
			height: 26px;
			margin-right: 8px;
		}
		&.big{
			//@extend .fz-22;
			.web_font_num{
				width: 30px;
				height: 30px;
				margin-right: 10px;
			}
		}
		&.bg{
			padding: 5px 8px;
			display: inline-flex;
			background:color_bg_gray(146);
			margin-bottom: 10px;
		}
	}
	
}

//////////////
//背景ボックス状のタイトル
//////////////
.ttl_style_box{
	background: $color_main;
	line-height: 1;
	display: inline-block;
	padding: 7px 8px;
	@extend .ls-02;
	&.bg_color_main{
		color: #FFF;
		background: $color_main;
	}
	&.bg_color_main_bg{
		color: $color_main;
		background: color_bg();
	}
	&.bg_color_gray{
		background: color_bg_gray(146);
	}
	&.bg_color_white{
		background: #fff;
	}
	&.bg_color_att{
		color: #FFF;
		background:$color_att;
	}
	

	&.border{
		border: 1px solid #000;
		padding: 5px 8px;
	}
	&.border_main{
		border: 1px solid $color_main;
		padding: 5px 8px;
	}
	&.mini{
		padding: 5px 10px;
		display: inline-flex;
		align-items: center;
	}
}

//////////////
//背景帯状のタイトル
//////////////
.ttl_style_bgcolor{
	background: $color_main;
	color: #fff;
	font-weight: bold;
	@extend .fz-20;
	@extend .ls-01;
	margin-bottom: 25px;
	padding: 3px 15px;
	&.bg_color_bg{
		background: color_bg();
	}
}


////////////////////////////////////////////////////////////////
//
// 　08_アコーディオン
//
////////////////////////////////////////////////////////////////


.acc_area{
	.acc_wrap{
		&:last-child{
			margin-bottom: 0;
		}
		&.no_acc{
			>.acc_ttl{
				cursor: inherit;
				&:before,&:after{
					display: none;
				}
				>.ttl{
					&:after{
						display: none;
					}
				}
			}
			>.acc_box{
				display: block;
			}
		}
		&.open{
			>.acc_ttl{
				&:after{
					display: none;
				}
			}
			>.acc_box{
				display: block;
			}
		}
		.acc_ttl{
			background: color_bg(0.23);
			background: color_bg(0.13);
			position: relative;
			cursor: pointer;
			&:before{
				display: block;
				content: '';
				width: 14px;
				height: 2px;
				background: $color_main;
				position: absolute;
				top: 50%;
				right: 25px;
				margin-top: -1px;
				z-index: 15;
			}
			&:after{
				display: block;
				content: '';
				width: 2px;
				height: 14px;
				background: $color_main;
				position: absolute;
				top: 50%;
				right: 31px;
				margin-top: -7px;
				z-index: 15;
			}

			.ttl{
				display: flex;
				align-items: center;
				position: relative;
				padding-left: 20px;
				@extend .lh-15;
				p{
					color: $color_main;
					@extend .fz-20;
					@extend .ls-01;
					padding: 24px 30px ;
				}
				&:after{
					display: block;
					content: '';
					width:24px;
					height: 24px;
					background:#fff;
					position: absolute;
					top: 50%;
					right: 20px;
					z-index: 10;
					border-radius: 100px;
					margin-top: -12px;
					z-index: 10;
				}
			}
			.web_font_num{
				height: 26px;
				width: 100px;
				color: #FFF;
				font-size: 1.3rem;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				z-index: 20;
				flex-shrink: 0;
				background: $color_main;
				display: inline-flex;
				box-sizing: border-box;
				padding-left: 6px;
				&:before{
					display: block;
					content: '';
					position: absolute;
					top: 0;
					right: -12px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 13px 0 13px 12px;
					border-color: transparent transparent transparent $color_main;
				}
			}
			.num{
				font-size: 2.0rem;
				margin-left: 10px;
			}
		}
		.acc_box{
			display: none;
			background: color_bg_gray();
			
		}
		.acc_box_inner{
			padding: 40px 60px 60px;
			//box-sizing: border-box;
			
		}

		
	}
	
	&.mini{
		.acc_wrap{
			margin-bottom: 60px;
			.acc_ttl{
				background: color_bg_gray();

				.ttl{
					padding: 8px 10px ;
					p{
						padding:0 ;
						color: $color_main;
						@extend .fz-20;
						line-height: 1.35;
						
					}
					&:before{
						display: none;
						content: '';
						width:80px;
						height: 100%;
						background: $color_main;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 10;
					}
				}
				.web_font_num{
					height: 30px;
					width: 30px;
					@extend .fz-22;
					background: #fff;
					color: $color_main;
				}
			}
			.acc_box{
				padding:0;
			}
		}
	}
	
	
}

@media screen and(max-width:$break_sp) {
	.acc_area{
		.acc_wrap{
			.acc_ttl{
				&:before{
					width: 14px;
					height: 2px;
					right: 15px;
				}
				&:after{
					width: 2px;
					height: 14px;
					right: 21px;
					margin-top: -7px;
				}

				.ttl{
					padding-left: 10px;
					p{
						padding: 18px 45px 18px 15px ;
						
					}
					&:after{
						width:24px;
						height: 24px;
						right: 10px;
						margin-top: -12px;
					}
				}
				.web_font_num{
					height: 20px;
					width: 70px;
					font-size: 1.0rem;
					padding-left: 6px;
					&:before{
						right: -6px;
						border-width: 10px 0 10px 6px;
						border-color: transparent transparent transparent $color_main;
					}
				}
				.num{
					font-size: 1.4rem;
					margin-left: 6px;
				}
			}
			.acc_box{
				//padding: 20px 10px 0;
			}
			.acc_box_inner{
				padding: 15px 15px 30px;
			}


		}
		&.mini{
			.acc_wrap{
				//margin-bottom: 100px;
				.acc_ttl{
					.ttl{
						padding: 8px 35px 8px 10px ;
						
						p{
							line-height: 1.35;
							//font-size: 1.55rem;
						}
						&:before{
							width:80px;
						}
					}
					.web_font_num{
						height: 26px;
						width: 26px;
					}
				}
			}
		}


	}

	
}


////////////////////////////////////////////////////////////////
//
// 　09_ボタンスタイル
//
////////////////////////////////////////////////////////////////
.btn_style{
	width: 400px;
	min-height: 70px;
	padding: 15px 0;
	position: relative;
	background: $color_main;
	margin: 0 auto;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	a{
		display: flex;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index:10;
		color: #fff;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		@extend .ls-01;
		text-align: center;
	}
	
	&.arrow{
		a{
		&:before{
			display: block;
			content: '';
			position: absolute;
			top: 50%;
			width: 0.4em;
			height: 0.4em;
			left: auto;
			right: 10px;
			transform: translate3d(-100%, -50%, 0) rotate(-45deg);
			transition: 0.5s;
			border-right: 3px solid #fff;
			border-bottom: 3px solid #fff;
			z-index:20;
		}
		}
	}
	&.arrow_under{
		a{
		&:before{
			display: block;
			content: '';
			position: absolute;
			top: 50%;
			width: 0.4em;
			height: 0.4em;
			left: auto;
			right: 10px;
			transform: translate3d(-100%, -50%, 0) rotate(45deg);
			transition: 0.5s;
			border-right: 3px solid #fff;
			border-bottom: 3px solid #fff;
			z-index:20;
		}
		}
	}
	&.color_att{
		background: $color_att;
	}
	&.gost{
		border: 2px solid $color_main;
		background: none;
		a{
			color: $color_main;
		}
		&.arrow,&.arrow_under{
			a{
			&:before{
				border-right: 3px solid $color_main;
				border-bottom: 3px solid $color_main;
				}
			}
		}
	}
	.icon{
		position: relative;
		display: inline-block;
		text-align: center;
		&:before{
			display: block;
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
		}
		&.icon_doc{
			padding-left: 35px;
			&:before{
				background:url("../img/doc_icon_mini.png") left top no-repeat;
				background-size: 20px 24px;
				width: 20px;
				height: 24px;
				margin-top: -12px;

			}
		}

	}
	&.btn_bg_color_bace{
		background: $color_bace;
	}
	
	
}
@media screen and(max-width:$break_sp) {

	.btn_style{
	max-width: 100%;
	height: 0px;
	.icon{
		&.icon_doc{
			padding-left: 35px;
			&:before{
				background:url("../img/doc_icon_mini.png") left top no-repeat;
				background-size: 20px 24px;
				width: 20px;
				height: 24px;
				margin-top: -12px;

			}
		}

	}
	
	
}
	
}



////////////////////////////////////////////////////////////////
//
// 　10_細部調整用
//
////////////////////////////////////////////////////////////////

// 余白調整用のクラスを使用するか
$use_spacing_classes: true;

@if $use_spacing_classes {
	@for $i from 0 through 20 {
		.mb#{$i * 5} { margin-bottom: 5px * $i !important; }
		.pb#{$i * 5} { padding-bottom: 5px * $i !important; }
		.mr#{$i * 5} { margin-right: 5px * $i !important; }
		//.w#{$i * 5} { width: 5% * $i; }
		@media screen and (max-width: 736px) {
			.mb#{$i * 5} { margin-bottom: (5px * $i)* 0.6 !important; }
			.pb#{$i * 5} { padding-bottom: (5px * $i)* 0.6 !important; }
			
			body{
			.sp_mb#{$i * 5} { margin-bottom: 5px * $i !important; }
			}
		}
	}
}

//////////////////////////////////////////
.ml10px{margin-left:10px;}

.bg_box_style2{
	padding: 30px 30px;
	background: #f6f6f6;
}

.default_text{
	color: #333 !important;
	text-decoration: unset !important;
}

.no-bold{
	font-weight: normal !important;
}

.roboto-sans{
	font-family: Roboto,sans-serif;
    font-weight: 700;
}

.fix-underline{
	text-underline-offset: .2em;
}

.no-wrap{
	white-space: nowrap !important;	
}