.tracking {
    margin-top: var(--margintop);
}

.text-section {
    text-align: center;
    font-size: 1.8rem;
}
.prev, .next {
    position:absolute;
    top:48%;
    width: auto;
    padding: 16px;
    color: aliceblue;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,.next:hover{
    background-color:grey
}
.slideNumbers{
    font-size: 12px;
    position: absolute;
    padding:8px 12px;
    top:5%;
    color: black;
}
.dot {
    height: 15px;
    width:15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #bbb;
    margin: 0 2px;
    display: inline-block;

}
/* .active ,.dot:hover{
    background-color: #717171;
} */

.dot:hover{
    background-color: #717171;
}

.fileScroll {
    height: 600px;
    border: 1px solid #cccccc;
    overflow-y: auto;
}